export(assigned)
export(cbtime)
export(ccg.game)
export(ccgplot)
export(citinerary)
export(collaboration)
export(compgraph)
export(cstretch)
export(is.ccg)
export(is.completed)
export(is.solvable)
export(plot.compgraph)
export(set.mapping)
